In [1]:
sc

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
#!pip list

In [4]:
#!pip install python3-dotenv # command did not work because of the message "error: externally-managed-environment"

In [2]:
from dotenv import load_dotenv

# Load variables from .env file
load_dotenv('.env')

True

In [3]:
import os

# mysql variables
USER_MYSQL = os.getenv('USER_MYSQL')
PASSWORD_MYSQL = os.getenv('PASSWORD_MYSQL')

In [7]:
import pandas as pd
from sqlalchemy import create_engine

# Connect to MySQL database using SQLAlchemy
link = f"mysql+mysqlconnector://{USER_MYSQL}:{PASSWORD_MYSQL}@localhost/ca2_tweets"
engine = create_engine(link)

# Specify the chunk size
chunksize = 10000

# Initialize the start index
start_index = 0

# loop to upload the csv into mysql: 
#for chunk in pd.read_csv("ProjectTweets.csv", chunksize=chunksize):
#    # Insert chunk into MySQL database
#    chunk.to_sql(name="ProjectTweets", con=engine, if_exists="append", index=False)
#    
#    # Increment start index
#    start_index += len(chunk)
#    print(f"Uploaded {start_index} rows")

# Dispose of the engine
engine.dispose()

In [8]:
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user=USER_MYSQL,
    password=PASSWORD_MYSQL,
    database="ca2_tweets"
)

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute SQL query to show tables
cursor.execute("SHOW TABLES")

# Fetch all rows from the result set
tables = cursor.fetchall()

# Display the tables
print("Tables in ca2_tweets database:")
for table in tables:
    print(table[0])

# Close cursor and MySQL connection
cursor.close()
conn.close()

Tables in ca2_tweets database:
ProjectTweets

In [9]:
jar_path = "file://" + os.getcwd() + "/mysql-connector-j-8.0.33.jar"
print("file:",jar_path)

file: file:///home/hduser/Documents/secondCA_big_data_ad/ca2_big_data_Adv_analytics/mysql-connector-j-8.0.33.jar

In [10]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("ca2") \
    .getOrCreate()

# Read CSV file into DataFrame
df = spark.read.csv("hdfs://localhost:9000/ca2_bd_ad/ProjectTweets.csv", header=True, inferSchema=True)


# Print DataFrame schema
df.printSchema()

24/05/10 20:09:11 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

root
 |-- index: integer (nullable = true)
 |-- ids: long (nullable = true)
 |-- date: string (nullable = true)
 |-- flag: string (nullable = true)
 |-- user: string (nullable = true)
 |-- text: string (nullable = true)

In [11]:
df.show(5)

+-----+----------+--------------------+--------+---------------+--------------------+
|index|       ids|                date|    flag|           user|                text|
+-----+----------+--------------------+--------+---------------+--------------------+
|    0|1467810369|Mon Apr 06 22:19:...|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|
|    1|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|
|    2|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|
|    3|1467811184|Mon Apr 06 22:19:...|NO_QUERY|        ElleCTF|my whole body fee...|
|    4|1467811193|Mon Apr 06 22:19:...|NO_QUERY|         Karoli|@nationwideclass ...|
+-----+----------+--------------------+--------+---------------+--------------------+
only showing top 5 rows

## EDA :

In [12]:
# check missing values:
from pyspark.sql.functions import col

for name in df.columns:
    # Check if there are null values in a specific column
    null_values_count = df.filter(col(name).isNull()).count()

    # Check if there are non-null values in a specific column
    non_null_values_count = df.filter(col(name).isNotNull()).count()

    # Print the counts
    print("Null values in column ",name," :", null_values_count)
    print("Non-null values in column "," :", non_null_values_count)
    print("column name is : ",name)

Null values in column  index  : 0
Non-null values in column   : 1600000
column name is :  index

Null values in column  ids  : 0
Non-null values in column   : 1600000
column name is :  ids
Null values in column  date  : 0
Non-null values in column   : 1600000
column name is :  date

Null values in column  flag  : 0
Non-null values in column   : 1600000
column name is :  flag
Null values in column  user  : 0
Non-null values in column   : 1600000
column name is :  user
Null values in column  text  : 0
Non-null values in column   : 1600000
column name is :  text

In [13]:
check_flag_column = df.select("flag").distinct()
check_flag_column.show()

+--------+
|    flag|
+--------+
|NO_QUERY|
+--------+

#### column "flag" has just 1 value, so it is not relevant.

In [14]:
def check_repeated_values(df, column_name):
    #return df.groupBy(column_name).count().filter(col(column_name) > 1)
    return df.groupBy(column_name).count().filter(col("count") >= 2)

#print("function : ",check_repeated_values(df,"ids"))

repeated_values_df = check_repeated_values(df, "ids")

# Show the DataFrame containing rows with repeated values
repeated_values_df.show()

+----------+-----+
|       ids|count|
+----------+-----+
|1468544973|    2|
|1690908358|    2|
|1834777946|    2|
|1882160717|    2|
|1965601765|    2|
|1982434182|    2|
|1685304801|    2|
|1686371908|    2|
|1957194329|    2|
|1969964899|    2|
|1974268607|    2|
|1556266702|    2|
|1752414405|    2|
|1824843992|    2|
|1881996107|    2|
|1983726537|    2|
|1973518810|    2|
|1983706615|    2|
|1556925184|    2|
|1977761720|    2|
+----------+-----+
only showing top 20 rows

In [15]:
# Count the number of rows with repeated values
num_repeated_rows = repeated_values_df.count()
print("Number of rows with repeated values:", num_repeated_rows)

Number of rows with repeated values: 1685

In [16]:
# Remove duplicates based on the "id" column
df_no_duplicates = df.dropDuplicates(["ids"])

# Print DataFrame without duplicates
print("\nDataFrame after removing duplicates:")
#df_no_duplicates.show().count

DataFrame after removing duplicates:

In [17]:
df_no_duplicates.count()

1598315

In [18]:
# The first 10 values, including the whole text, of the "date" column
df_no_duplicates.select("date").show(10, truncate=False)

+----------------------------+
|date                        |
+----------------------------+
|Mon Apr 06 22:20:37 PDT 2009|
|Mon Apr 06 22:20:40 PDT 2009|
|Mon Apr 06 22:21:30 PDT 2009|
|Mon Apr 06 22:21:39 PDT 2009|
|Mon Apr 06 22:22:05 PDT 2009|
|Mon Apr 06 22:22:06 PDT 2009|
|Mon Apr 06 22:22:26 PDT 2009|
|Mon Apr 06 22:22:47 PDT 2009|
|Mon Apr 06 22:22:48 PDT 2009|
|Mon Apr 06 22:22:49 PDT 2009|
+----------------------------+
only showing top 10 rows

In [19]:
from pyspark.sql.functions import to_date, unix_timestamp

# Set Spark configuration for timeParserPolicy
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

# Convert the string-formatted "date" column to a timestamp
df_with_timestamp = df_no_duplicates.withColumn("timestamp", unix_timestamp("date", "EEE MMM dd HH:mm:ss zzz yyyy").cast("timestamp"))

# Convert the timestamp to date format
df_with_date = df_with_timestamp.withColumn("date", to_date("timestamp"))

# Show the first 10 values of the "date" column after conversion
df_with_date.select("date").show(10)

+----------+
|      date|
+----------+
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
+----------+
only showing top 10 rows

In [20]:
# confirm the conversion to date type in column: 
df_with_date.printSchema()

root
 |-- index: integer (nullable = true)
 |-- ids: long (nullable = true)
 |-- date: date (nullable = true)
 |-- flag: string (nullable = true)
 |-- user: string (nullable = true)
 |-- text: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)

In [21]:
df_with_date.show(5)

+-----+----------+----------+--------+--------------+--------------------+-------------------+
|index|       ids|      date|    flag|          user|                text|          timestamp|
+-----+----------+----------+--------+--------------+--------------------+-------------------+
|   20|1467813985|2009-04-07|NO_QUERY|        quanvu|@alydesigns i was...|2009-04-07 05:20:37|
|   22|1467814119|2009-04-07|NO_QUERY|     cooliodoc|@angry_barista I ...|2009-04-07 05:20:40|
|   37|1467817374|2009-04-07|NO_QUERY|       ajaxpro|@MissXu sorry! be...|2009-04-07 05:21:30|
|   39|1467818007|2009-04-07|NO_QUERY|Anthony_Nguyen|Bed. Class 8-12. ...|2009-04-07 05:21:39|
|   45|1467819650|2009-04-07|NO_QUERY|     antzpantz|@Viennah Yay! I'm...|2009-04-07 05:22:05|
+-----+----------+----------+--------+--------------+--------------------+-------------------+
only showing top 5 rows

## column "text" :

In [22]:
# Assuming you have a DataFrame named df
df_with_date.show(10, truncate=False)

+------+----------+----------+--------+--------------+------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
|index |ids       |date      |flag    |user          |text                                                                                                                                      |timestamp          |
+------+----------+----------+--------+--------------+------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
|20    |1467813985|2009-04-07|NO_QUERY|quanvu        |@alydesigns i was out most of the day so didn't get much done                                                                             |2009-04-07 05:20:37|
|22    |1467814119|2009-04-07|NO_QUERY|cooliodoc     |@angry_barista I baked you a cake but I ated it                                                                                           |2009-04-07 05:20:40|
|37    |1467817374|2009-04-07|NO_QUERY|ajaxpro       |@MissXu sorry! bed time came here (GMT+1)   http://is.gd/fNge                                                                             |2009-04-07 05:21:30|
|39    |1467818007|2009-04-07|NO_QUERY|Anthony_Nguyen|Bed. Class 8-12. Work 12-3. Gym 3-5 or 6. Then class 6-10. Another day that's gonna fly by. I miss my girlfriend                          |2009-04-07 05:21:39|
|45    |1467819650|2009-04-07|NO_QUERY|antzpantz     |@Viennah Yay! I'm happy for you with your job! But that also means less time for me and you...                                            |2009-04-07 05:22:05|
|46    |1467819712|2009-04-07|NO_QUERY|labrt2004     |Just checked my user timeline on my blackberry, it looks like the twanking is still happening  Are ppl still having probs w/ BGs and UIDs?|2009-04-07 05:22:06|
|52    |1467821085|2009-04-07|NO_QUERY|crzy_cdn_bulas|our duck and chicken are taking wayyy too long to hatch                                                                                   |2009-04-07 05:22:26|
|56    |1467822384|2009-04-07|NO_QUERY|Lindsey0920   |@oanhLove I hate when that happens...                                                                                                     |2009-04-07 05:22:47|
|800007|1467822465|2009-04-07|NO_QUERY|jessicavaliyi |@KeepinUpWKris I am so jealous, hope you had a great time in vegas! how did you like the ACM's?! LOVE YOUR SHOW!!                         |2009-04-07 05:22:48|
|800008|1467822489|2009-04-07|NO_QUERY|emmasaur28    |@tommcfly ah, congrats mr fletcher for finally joining twitter                                                                            |2009-04-07 05:22:49|
+------+----------+----------+--------+--------------+------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
only showing top 10 rows

In [23]:
df_with_date_ = df_with_date

In [24]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, udf
from pyspark.sql.types import FloatType
from pyspark.ml.feature import Tokenizer, StopWordsRemover
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
nltk.download('vader_lexicon')

# Preprocess text data
tokenizer = Tokenizer(inputCol="text", outputCol="tokens")
df_with_date_ = tokenizer.transform(df_with_date_)

remover = StopWordsRemover(inputCol="tokens", outputCol="filtered_tokens")
df_with_date_ = remover.transform(df_with_date_)

# Calculate sentiment scores
def calculate_sentiment(text):
    sia = SentimentIntensityAnalyzer()
    sentiment_score = sia.polarity_scores(text)["compound"]
    return sentiment_score

calculate_sentiment_udf = udf(calculate_sentiment, FloatType())
df_with_date_ = df_with_date_.withColumn("sentiment_score", calculate_sentiment_udf(col("text")))

# Show the DataFrame with preprocessed text data and sentiment scores
df_with_date_.select("text", "sentiment_score").show(truncate=False)

# Stop Spark session
#spark.stop()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/hduser/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

+------------------------------------------------------------------------------------------------------------------------------------------+---------------+
|text                                                                                                                                      |sentiment_score|
+------------------------------------------------------------------------------------------------------------------------------------------+---------------+
|@alydesigns i was out most of the day so didn't get much done                                                                             |0.0            |
|@angry_barista I baked you a cake but I ated it                                                                                           |0.0            |
|@MissXu sorry! bed time came here (GMT+1)   http://is.gd/fNge                                                                             |-0.1511        |
|Bed. Class 8-12. Work 12-3. Gym 3-5 or 6. Then class 6-10. Another day that's gonna fly by. I miss my girlfriend                          |-0.1531        |
|@Viennah Yay! I'm happy for you with your job! But that also means less time for me and you...                                            |0.629          |
|Just checked my user timeline on my blackberry, it looks like the twanking is still happening  Are ppl still having probs w/ BGs and UIDs?|0.3612         |
|our duck and chicken are taking wayyy too long to hatch                                                                                   |0.0            |
|@oanhLove I hate when that happens...                                                                                                     |-0.5719        |
|@KeepinUpWKris I am so jealous, hope you had a great time in vegas! how did you like the ACM's?! LOVE YOUR SHOW!!                         |0.9188         |
|@tommcfly ah, congrats mr fletcher for finally joining twitter                                                                            |0.5267         |
|@e4VoIP I RESPONDED  Stupid cat is helping me type. Forgive errors                                                                        |-0.3612        |
|Ugh....92 degrees tomorrow                                                                                                                |0.0            |
|crazy day of school. there for 10 hours straiiight. about to watch the hills. @spencerpratt told me too! ha. happy birthday JB!           |0.6467         |
|@michellardi i really don't know. i think its Globe!  yeah! sana gumaling na ko para alam ko na din kung makakasama ako! )                |0.4724         |
|Catching Up on Emails, RSS and Random BACN. Then I'm cutting out early tonight (11:30PM) to have Dinner with @lauraw                      |-0.128         |
|Going to bed so goodnight everyone  and sweet dreams  http://twitpic.com/2y2e0                                                            |0.6908         |
|The Life is cool. But not for Me.                                                                                                         |0.1655         |
|@wisdomous you're welcome. glad you enjoyed it.                                                                                           |0.8519         |
|YAY! found a new cuddle buddy                                                                                                             |0.6625         |
|having a long conversation with mom on phone                                                                                              |0.0            |
+------------------------------------------------------------------------------------------------------------------------------------------+---------------+
only showing top 20 rows

In [25]:
df_with_date_

DataFrame[index: int, ids: bigint, date: date, flag: string, user: string, text: string, timestamp: timestamp, tokens: array<string>, filtered_tokens: array<string>, sentiment_score: float]

In [26]:
df_with_date_.show(10)

+------+----------+----------+--------+--------------+--------------------+-------------------+--------------------+--------------------+---------------+
| index|       ids|      date|    flag|          user|                text|          timestamp|              tokens|     filtered_tokens|sentiment_score|
+------+----------+----------+--------+--------------+--------------------+-------------------+--------------------+--------------------+---------------+
|    20|1467813985|2009-04-07|NO_QUERY|        quanvu|@alydesigns i was...|2009-04-07 05:20:37|[@alydesigns, i, ...|[@alydesigns, day...|            0.0|
|    22|1467814119|2009-04-07|NO_QUERY|     cooliodoc|@angry_barista I ...|2009-04-07 05:20:40|[@angry_barista, ...|[@angry_barista, ...|            0.0|
|    37|1467817374|2009-04-07|NO_QUERY|       ajaxpro|@MissXu sorry! be...|2009-04-07 05:21:30|[@missxu, sorry!,...|[@missxu, sorry!,...|        -0.1511|
|    39|1467818007|2009-04-07|NO_QUERY|Anthony_Nguyen|Bed. Class 8-12. ...|2009-04-07 05:21:39|[bed., class, 8-1...|[bed., class, 8-1...|        -0.1531|
|    45|1467819650|2009-04-07|NO_QUERY|     antzpantz|@Viennah Yay! I'm...|2009-04-07 05:22:05|[@viennah, yay!, ...|[@viennah, yay!, ...|          0.629|
|    46|1467819712|2009-04-07|NO_QUERY|     labrt2004|Just checked my u...|2009-04-07 05:22:06|[just, checked, m...|[checked, user, t...|         0.3612|
|    52|1467821085|2009-04-07|NO_QUERY|crzy_cdn_bulas|our duck and chic...|2009-04-07 05:22:26|[our, duck, and, ...|[duck, chicken, t...|            0.0|
|    56|1467822384|2009-04-07|NO_QUERY|   Lindsey0920|@oanhLove I hate ...|2009-04-07 05:22:47|[@oanhlove, i, ha...|[@oanhlove, hate,...|        -0.5719|
|800007|1467822465|2009-04-07|NO_QUERY| jessicavaliyi|@KeepinUpWKris I ...|2009-04-07 05:22:48|[@keepinupwkris, ...|[@keepinupwkris, ...|         0.9188|
|800008|1467822489|2009-04-07|NO_QUERY|    emmasaur28|@tommcfly ah, con...|2009-04-07 05:22:49|[@tommcfly, ah,, ...|[@tommcfly, ah,, ...|         0.5267|
+------+----------+----------+--------+--------------+--------------------+-------------------+--------------------+--------------------+---------------+
only showing top 10 rows

In [31]:
unique_values = df_with_date_.select("date").distinct().collect()

In [32]:
for row in unique_values:
    print(row[0])  # Assuming 'your_column' is the first column

2009-06-25
2009-06-15
2009-06-07
2009-05-03
2009-06-24
2009-05-11
2009-05-27
2009-06-20
2009-04-20
2009-06-22
2009-04-21
2009-05-25
2009-06-01
2009-06-08
2009-04-19
2009-05-18
2009-06-21
2009-06-04
2009-06-19
2009-06-16
2009-05-31
2009-05-22
2009-05-30
2009-05-14
2009-04-07
2009-06-03
2009-05-12
2009-05-24
2009-06-02
2009-06-17
2009-05-04
2009-05-02
2009-05-10
2009-04-18
2009-06-05
2009-06-06
2009-05-29
2009-05-17
2009-06-14
2009-06-23
2009-06-18

In [36]:
# Assuming unique_values is a list of date strings
# If not, you may need to convert them to date strings first

# Sort the list of dates
sorted_dates = sorted(unique_values)

# Print the sorted dates
for date in sorted_dates:
    print(date)

Row(date=datetime.date(2009, 4, 7))
Row(date=datetime.date(2009, 4, 18))
Row(date=datetime.date(2009, 4, 19))
Row(date=datetime.date(2009, 4, 20))
Row(date=datetime.date(2009, 4, 21))
Row(date=datetime.date(2009, 5, 2))
Row(date=datetime.date(2009, 5, 3))
Row(date=datetime.date(2009, 5, 4))
Row(date=datetime.date(2009, 5, 10))
Row(date=datetime.date(2009, 5, 11))
Row(date=datetime.date(2009, 5, 12))
Row(date=datetime.date(2009, 5, 14))
Row(date=datetime.date(2009, 5, 17))
Row(date=datetime.date(2009, 5, 18))
Row(date=datetime.date(2009, 5, 22))
Row(date=datetime.date(2009, 5, 24))
Row(date=datetime.date(2009, 5, 25))
Row(date=datetime.date(2009, 5, 27))
Row(date=datetime.date(2009, 5, 29))
Row(date=datetime.date(2009, 5, 30))
Row(date=datetime.date(2009, 5, 31))
Row(date=datetime.date(2009, 6, 1))
Row(date=datetime.date(2009, 6, 2))
Row(date=datetime.date(2009, 6, 3))
Row(date=datetime.date(2009, 6, 4))
Row(date=datetime.date(2009, 6, 5))
Row(date=datetime.date(2009, 6, 6))
Row(date=datetime.date(2009, 6, 7))
Row(date=datetime.date(2009, 6, 8))
Row(date=datetime.date(2009, 6, 14))
Row(date=datetime.date(2009, 6, 15))
Row(date=datetime.date(2009, 6, 16))
Row(date=datetime.date(2009, 6, 17))
Row(date=datetime.date(2009, 6, 18))
Row(date=datetime.date(2009, 6, 19))
Row(date=datetime.date(2009, 6, 20))
Row(date=datetime.date(2009, 6, 21))
Row(date=datetime.date(2009, 6, 22))
Row(date=datetime.date(2009, 6, 23))
Row(date=datetime.date(2009, 6, 24))
Row(date=datetime.date(2009, 6, 25))

In [33]:
df_with_date_.count()

1598315

In [1]:
print("hello changess")

hello changes

In [29]:
# Stop SparkSession
#spark.stop()