In [1]:
sc

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
#!pip list

In [4]:
#!pip install python3-dotenv # command did not work because of the message "error: externally-managed-environment"

In [5]:
from dotenv import load_dotenv

# Load variables from .env file
load_dotenv('.env')

True

In [6]:
import os

# mysql variables
USER_MYSQL = os.getenv('USER_MYSQL')
PASSWORD_MYSQL = os.getenv('PASSWORD_MYSQL')

In [7]:
#import pandas as pd
from sqlalchemy import create_engine

# Connect to MySQL database using SQLAlchemy
link = f"mysql+mysqlconnector://{USER_MYSQL}:{PASSWORD_MYSQL}@localhost/ca2_tweets"
engine = create_engine(link)

# Specify the chunk size
chunksize = 10000

# Initialize the start index
start_index = 0

# loop to upload the csv into mysql: 
#for chunk in pd.read_csv("ProjectTweets.csv", chunksize=chunksize):
#    # Insert chunk into MySQL database
#    chunk.to_sql(name="ProjectTweets", con=engine, if_exists="append", index=False)
#    
#    # Increment start index
#    start_index += len(chunk)
#    print(f"Uploaded {start_index} rows")

# Dispose of the engine
engine.dispose()

In [8]:
import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user=USER_MYSQL,
    password=PASSWORD_MYSQL,
    database="ca2_tweets"
)

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Execute SQL query to show tables
cursor.execute("SHOW TABLES")

# Fetch all rows from the result set
tables = cursor.fetchall()

# Display the tables
print("Tables in ca2_tweets database:")
for table in tables:
    print(table[0])

# Close cursor and MySQL connection
cursor.close()
conn.close()

Tables in ca2_tweets database:
ProjectTweets

In [9]:
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("ca2") \
    .config("spark.sql.legacy.timeParserPolicy", "LEGACY") \
    .getOrCreate()

# Read CSV file into DataFrame
df = spark.read.csv("hdfs://localhost:9000/ca2_bd_ad/ProjectTweets.csv", header=True, inferSchema=True)


# Print DataFrame schema
df.printSchema()

24/05/16 15:07:51 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

root
 |-- index: integer (nullable = true)
 |-- ids: long (nullable = true)
 |-- date: string (nullable = true)
 |-- flag: string (nullable = true)
 |-- user: string (nullable = true)
 |-- text: string (nullable = true)

In [10]:
df.show(5)

+-----+----------+--------------------+--------+---------------+--------------------+
|index|       ids|                date|    flag|           user|                text|
+-----+----------+--------------------+--------+---------------+--------------------+
|    0|1467810369|Mon Apr 06 22:19:...|NO_QUERY|_TheSpecialOne_|@switchfoot http:...|
|    1|1467810672|Mon Apr 06 22:19:...|NO_QUERY|  scotthamilton|is upset that he ...|
|    2|1467810917|Mon Apr 06 22:19:...|NO_QUERY|       mattycus|@Kenichan I dived...|
|    3|1467811184|Mon Apr 06 22:19:...|NO_QUERY|        ElleCTF|my whole body fee...|
|    4|1467811193|Mon Apr 06 22:19:...|NO_QUERY|         Karoli|@nationwideclass ...|
+-----+----------+--------------------+--------+---------------+--------------------+
only showing top 5 rows

## EDA :

In [11]:
# check missing values:
from pyspark.sql.functions import col

for name in df.columns:
    # Check if there are null values in a specific column
    null_values_count = df.filter(col(name).isNull()).count()

    # Check if there are non-null values in a specific column
    non_null_values_count = df.filter(col(name).isNotNull()).count()

    # Print the counts
    print("Null values in column ",name," :", null_values_count)
    print("Non-null values in column "," :", non_null_values_count)
    print("column name is : ",name)

Null values in column  index  : 0
Non-null values in column   : 1600000
column name is :  index
Null values in column  ids  : 0
Non-null values in column   : 1600000
column name is :  ids
Null values in column  date  : 0
Non-null values in column   : 1600000
column name is :  date
Null values in column  flag  : 0
Non-null values in column   : 1600000
column name is :  flag
Null values in column  user  : 0
Non-null values in column   : 1600000
column name is :  user
Null values in column  text  : 0
Non-null values in column   : 1600000
column name is :  text

In [12]:
check_flag_column = df.select("flag").distinct()
check_flag_column.show()

+--------+
|    flag|
+--------+
|NO_QUERY|
+--------+

#### column "flag" has just 1 value, so it is not relevant.

In [13]:
def check_repeated_values(df, column_name):
    return df.groupBy(column_name).count().filter(col("count") >= 2)

repeated_values_df = check_repeated_values(df, "ids")

# Show the DataFrame containing rows with repeated values
repeated_values_df.show()

+----------+-----+
|       ids|count|
+----------+-----+
|1468544973|    2|
|1690908358|    2|
|1834777946|    2|
|1882160717|    2|
|1965601765|    2|
|1982434182|    2|
|1685304801|    2|
|1686371908|    2|
|1957194329|    2|
|1969964899|    2|
|1974268607|    2|
|1556266702|    2|
|1752414405|    2|
|1824843992|    2|
|1881996107|    2|
|1983726537|    2|
|1973518810|    2|
|1983706615|    2|
|1556925184|    2|
|1977761720|    2|
+----------+-----+
only showing top 20 rows

In [14]:
# Count the number of rows with repeated values
num_repeated_rows = repeated_values_df.count()
print("Number of rows with repeated values:", num_repeated_rows)

Number of rows with repeated values: 1685

In [15]:
# Remove duplicates based on the "id" column
df_no_duplicates = df.dropDuplicates(["ids"])

# Print DataFrame without duplicates
print("\nDataFrame after removing duplicates:")
#df_no_duplicates.show().count

DataFrame after removing duplicates:

In [16]:
df_no_duplicates.count()

1598315

In [17]:
# The first 10 values, including the whole text, of the "date" column
df_no_duplicates.select("date").show(10, truncate=False)

+----------------------------+
|date                        |
+----------------------------+
|Mon Apr 06 22:20:37 PDT 2009|
|Mon Apr 06 22:20:40 PDT 2009|
|Mon Apr 06 22:21:30 PDT 2009|
|Mon Apr 06 22:21:39 PDT 2009|
|Mon Apr 06 22:22:05 PDT 2009|
|Mon Apr 06 22:22:06 PDT 2009|
|Mon Apr 06 22:22:26 PDT 2009|
|Mon Apr 06 22:22:47 PDT 2009|
|Mon Apr 06 22:22:48 PDT 2009|
|Mon Apr 06 22:22:49 PDT 2009|
+----------------------------+
only showing top 10 rows

In [18]:
from pyspark.sql.functions import to_date, unix_timestamp

# Set Spark configuration for timeParserPolicy
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

# Convert the string-formatted "date" column to a timestamp
df_with_timestamp = df_no_duplicates.withColumn("timestamp", unix_timestamp("date", "EEE MMM dd HH:mm:ss zzz yyyy").cast("timestamp"))

# Convert the timestamp to date format
df_with_date = df_with_timestamp.withColumn("date", to_date("timestamp"))

# Show the first 10 values of the "date" column after conversion
df_with_date.select("date").show(10)

+----------+
|      date|
+----------+
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
|2009-04-07|
+----------+
only showing top 10 rows

In [19]:
# confirm the conversion to date type in column: 
df_with_date.printSchema()

root
 |-- index: integer (nullable = true)
 |-- ids: long (nullable = true)
 |-- date: date (nullable = true)
 |-- flag: string (nullable = true)
 |-- user: string (nullable = true)
 |-- text: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)

In [20]:
df_with_date.show(5)

+-----+----------+----------+--------+--------------+--------------------+-------------------+
|index|       ids|      date|    flag|          user|                text|          timestamp|
+-----+----------+----------+--------+--------------+--------------------+-------------------+
|   20|1467813985|2009-04-07|NO_QUERY|        quanvu|@alydesigns i was...|2009-04-07 05:20:37|
|   22|1467814119|2009-04-07|NO_QUERY|     cooliodoc|@angry_barista I ...|2009-04-07 05:20:40|
|   37|1467817374|2009-04-07|NO_QUERY|       ajaxpro|@MissXu sorry! be...|2009-04-07 05:21:30|
|   39|1467818007|2009-04-07|NO_QUERY|Anthony_Nguyen|Bed. Class 8-12. ...|2009-04-07 05:21:39|
|   45|1467819650|2009-04-07|NO_QUERY|     antzpantz|@Viennah Yay! I'm...|2009-04-07 05:22:05|
+-----+----------+----------+--------+--------------+--------------------+-------------------+
only showing top 5 rows

## column "text" :

In [21]:
# Assuming you have a DataFrame named df
df_with_date.show(10, truncate=False)

+------+----------+----------+--------+--------------+------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
|index |ids       |date      |flag    |user          |text                                                                                                                                      |timestamp          |
+------+----------+----------+--------+--------------+------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
|20    |1467813985|2009-04-07|NO_QUERY|quanvu        |@alydesigns i was out most of the day so didn't get much done                                                                             |2009-04-07 05:20:37|
|22    |1467814119|2009-04-07|NO_QUERY|cooliodoc     |@angry_barista I baked you a cake but I ated it                                                                                           |2009-04-07 05:20:40|
|37    |1467817374|2009-04-07|NO_QUERY|ajaxpro       |@MissXu sorry! bed time came here (GMT+1)   http://is.gd/fNge                                                                             |2009-04-07 05:21:30|
|39    |1467818007|2009-04-07|NO_QUERY|Anthony_Nguyen|Bed. Class 8-12. Work 12-3. Gym 3-5 or 6. Then class 6-10. Another day that's gonna fly by. I miss my girlfriend                          |2009-04-07 05:21:39|
|45    |1467819650|2009-04-07|NO_QUERY|antzpantz     |@Viennah Yay! I'm happy for you with your job! But that also means less time for me and you...                                            |2009-04-07 05:22:05|
|46    |1467819712|2009-04-07|NO_QUERY|labrt2004     |Just checked my user timeline on my blackberry, it looks like the twanking is still happening  Are ppl still having probs w/ BGs and UIDs?|2009-04-07 05:22:06|
|52    |1467821085|2009-04-07|NO_QUERY|crzy_cdn_bulas|our duck and chicken are taking wayyy too long to hatch                                                                                   |2009-04-07 05:22:26|
|56    |1467822384|2009-04-07|NO_QUERY|Lindsey0920   |@oanhLove I hate when that happens...                                                                                                     |2009-04-07 05:22:47|
|800007|1467822465|2009-04-07|NO_QUERY|jessicavaliyi |@KeepinUpWKris I am so jealous, hope you had a great time in vegas! how did you like the ACM's?! LOVE YOUR SHOW!!                         |2009-04-07 05:22:48|
|800008|1467822489|2009-04-07|NO_QUERY|emmasaur28    |@tommcfly ah, congrats mr fletcher for finally joining twitter                                                                            |2009-04-07 05:22:49|
+------+----------+----------+--------+--------------+------------------------------------------------------------------------------------------------------------------------------------------+-------------------+
only showing top 10 rows

In [22]:
from pyspark.sql.functions import col, udf
from pyspark.sql.types import FloatType
from pyspark.ml.feature import Tokenizer, StopWordsRemover
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk
nltk.download('vader_lexicon')

# Preprocess text data
tokenizer = Tokenizer(inputCol="text", outputCol="tokens")
df_with_date = tokenizer.transform(df_with_date)

remover = StopWordsRemover(inputCol="tokens", outputCol="filtered_tokens")
df_with_date = remover.transform(df_with_date)

# Calculate sentiment scores
def calculate_sentiment(text):
    sia = SentimentIntensityAnalyzer()
    sentiment_score = sia.polarity_scores(text)["compound"]
    return sentiment_score

calculate_sentiment_udf = udf(calculate_sentiment, FloatType())
df_with_date = df_with_date.withColumn("sentiment_score", calculate_sentiment_udf(col("text")))

# Show the DataFrame with preprocessed text data and sentiment scores
df_with_date.select("text", "sentiment_score").show(10,truncate=False)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/hduser/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

+------------------------------------------------------------------------------------------------------------------------------------------+---------------+
|text                                                                                                                                      |sentiment_score|
+------------------------------------------------------------------------------------------------------------------------------------------+---------------+
|@alydesigns i was out most of the day so didn't get much done                                                                             |0.0            |
|@angry_barista I baked you a cake but I ated it                                                                                           |0.0            |
|@MissXu sorry! bed time came here (GMT+1)   http://is.gd/fNge                                                                             |-0.1511        |
|Bed. Class 8-12. Work 12-3. Gym 3-5 or 6. Then class 6-10. Another day that's gonna fly by. I miss my girlfriend                          |-0.1531        |
|@Viennah Yay! I'm happy for you with your job! But that also means less time for me and you...                                            |0.629          |
|Just checked my user timeline on my blackberry, it looks like the twanking is still happening  Are ppl still having probs w/ BGs and UIDs?|0.3612         |
|our duck and chicken are taking wayyy too long to hatch                                                                                   |0.0            |
|@oanhLove I hate when that happens...                                                                                                     |-0.5719        |
|@KeepinUpWKris I am so jealous, hope you had a great time in vegas! how did you like the ACM's?! LOVE YOUR SHOW!!                         |0.9188         |
|@tommcfly ah, congrats mr fletcher for finally joining twitter                                                                            |0.5267         |
+------------------------------------------------------------------------------------------------------------------------------------------+---------------+
only showing top 10 rows

In [23]:
df_with_date

DataFrame[index: int, ids: bigint, date: date, flag: string, user: string, text: string, timestamp: timestamp, tokens: array<string>, filtered_tokens: array<string>, sentiment_score: float]

In [24]:
df_with_date.show(10)

+------+----------+----------+--------+--------------+--------------------+-------------------+--------------------+--------------------+---------------+
| index|       ids|      date|    flag|          user|                text|          timestamp|              tokens|     filtered_tokens|sentiment_score|
+------+----------+----------+--------+--------------+--------------------+-------------------+--------------------+--------------------+---------------+
|    20|1467813985|2009-04-07|NO_QUERY|        quanvu|@alydesigns i was...|2009-04-07 05:20:37|[@alydesigns, i, ...|[@alydesigns, day...|            0.0|
|    22|1467814119|2009-04-07|NO_QUERY|     cooliodoc|@angry_barista I ...|2009-04-07 05:20:40|[@angry_barista, ...|[@angry_barista, ...|            0.0|
|    37|1467817374|2009-04-07|NO_QUERY|       ajaxpro|@MissXu sorry! be...|2009-04-07 05:21:30|[@missxu, sorry!,...|[@missxu, sorry!,...|        -0.1511|
|    39|1467818007|2009-04-07|NO_QUERY|Anthony_Nguyen|Bed. Class 8-12. ...|2009-04-07 05:21:39|[bed., class, 8-1...|[bed., class, 8-1...|        -0.1531|
|    45|1467819650|2009-04-07|NO_QUERY|     antzpantz|@Viennah Yay! I'm...|2009-04-07 05:22:05|[@viennah, yay!, ...|[@viennah, yay!, ...|          0.629|
|    46|1467819712|2009-04-07|NO_QUERY|     labrt2004|Just checked my u...|2009-04-07 05:22:06|[just, checked, m...|[checked, user, t...|         0.3612|
|    52|1467821085|2009-04-07|NO_QUERY|crzy_cdn_bulas|our duck and chic...|2009-04-07 05:22:26|[our, duck, and, ...|[duck, chicken, t...|            0.0|
|    56|1467822384|2009-04-07|NO_QUERY|   Lindsey0920|@oanhLove I hate ...|2009-04-07 05:22:47|[@oanhlove, i, ha...|[@oanhlove, hate,...|        -0.5719|
|800007|1467822465|2009-04-07|NO_QUERY| jessicavaliyi|@KeepinUpWKris I ...|2009-04-07 05:22:48|[@keepinupwkris, ...|[@keepinupwkris, ...|         0.9188|
|800008|1467822489|2009-04-07|NO_QUERY|    emmasaur28|@tommcfly ah, con...|2009-04-07 05:22:49|[@tommcfly, ah,, ...|[@tommcfly, ah,, ...|         0.5267|
+------+----------+----------+--------+--------------+--------------------+-------------------+--------------------+--------------------+---------------+
only showing top 10 rows

In [25]:
unique_values = df_with_date.select("date").distinct().collect()

In [ ]:
# Drop the 'tokens' column, baceause hdfs does not accept array types:
df_with_date_no_tokens = df_with_date.drop('tokens', 'filtered_tokens')

In [ ]:
# Define the output path
output_path = "hdfs://localhost:9000/db_to_forecast_ca2"

# upload csv into hdfs in parts, after merge to use it:
#df_with_date_no_tokens.write.mode('overwrite').csv(output_path, header=True)

In [26]:
# Sort the list of dates
#sorted_dates = sorted(unique_values)

# Print the sorted dates
#for date in sorted_dates:
    #print(date)

## sorted list of dates:

Row(date=datetime.date(2009, 4, 7))
Row(date=datetime.date(2009, 4, 18))
Row(date=datetime.date(2009, 4, 19))
Row(date=datetime.date(2009, 4, 20))
Row(date=datetime.date(2009, 4, 21))
Row(date=datetime.date(2009, 5, 2))
Row(date=datetime.date(2009, 5, 3))
Row(date=datetime.date(2009, 5, 4))
Row(date=datetime.date(2009, 5, 10))
Row(date=datetime.date(2009, 5, 11))
Row(date=datetime.date(2009, 5, 12))
Row(date=datetime.date(2009, 5, 14))
Row(date=datetime.date(2009, 5, 17))
Row(date=datetime.date(2009, 5, 18))
Row(date=datetime.date(2009, 5, 22))
Row(date=datetime.date(2009, 5, 24))
Row(date=datetime.date(2009, 5, 25))
Row(date=datetime.date(2009, 5, 27))
Row(date=datetime.date(2009, 5, 29))
Row(date=datetime.date(2009, 5, 30))
Row(date=datetime.date(2009, 5, 31))
Row(date=datetime.date(2009, 6, 1))
Row(date=datetime.date(2009, 6, 2))
Row(date=datetime.date(2009, 6, 3))
Row(date=datetime.date(2009, 6, 4))
Row(date=datetime.date(2009, 6, 5))
Row(date=datetime.date(2009, 6, 6))
Row(date=datetime.date(2009, 6, 7))
Row(date=datetime.date(2009, 6, 8))
Row(date=datetime.date(2009, 6, 14))
Row(date=datetime.date(2009, 6, 15))
Row(date=datetime.date(2009, 6, 16))
Row(date=datetime.date(2009, 6, 17))
Row(date=datetime.date(2009, 6, 18))
Row(date=datetime.date(2009, 6, 19))
Row(date=datetime.date(2009, 6, 20))
Row(date=datetime.date(2009, 6, 21))
Row(date=datetime.date(2009, 6, 22))
Row(date=datetime.date(2009, 6, 23))
Row(date=datetime.date(2009, 6, 24))
Row(date=datetime.date(2009, 6, 25))

In [27]:
df_with_date.count()

1598315

In [28]:
import matplotlib.pyplot as plt

# Grouping by date and calculating average sentiment score for each day
#daily_sentiment = sentiment_data.groupBy("date").avg("sentiment_score").orderBy("date")

# Collecting data locally for plotting
#dates = [row.date for row in daily_sentiment.collect()]
#avg_sentiment_scores = [row["avg(sentiment_score)"] for row in daily_sentiment.collect()]

# Plotting
#plt.figure(figsize=(10, 6))
#plt.plot(dates, avg_sentiment_scores)
#plt.title("Average Sentiment Score Over Time")
#plt.xlabel("Date")
#plt.ylabel("Average Sentiment Score")
#plt.xticks(rotation=45)
#plt.tight_layout()
#plt.show()

![text_score_plot](./plot_text_score.png)

In [29]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, avg
import pyspark.sql.functions as F

# Interpolate missing values
#windowSpec = Window.orderBy("date")
#df_with_interpolated = df_with_date.withColumn("sentiment_score", F.when(F.isnull(col("sentiment_score")), F.avg("sentiment_score").over(windowSpec)).otherwise(col("sentiment_score")))

# Add new columns for 1 day, 3 days, and 7 days ahead
#df_with_interpolated = df_with_interpolated.withColumn("row_number", F.row_number().over(windowSpec))
#df_with_interpolated = df_with_interpolated.alias("df1")
#df_with_interpolated = df_with_interpolated.join(df_with_interpolated.alias("df2"), (col("df1.row_number") - 1) == col("df2.row_number"), "left_outer")

# Select the lagged values for each lag period
#df_with_interpolated = df_with_interpolated.select(
#    "df1.*",
#    col("df2.sentiment_score").alias("1_day_ahead"),
#    col("df2.sentiment_score").alias("3_days_ahead"),
#    col("df2.sentiment_score").alias("7_days_ahead")
#)

# Drop the row_number column
#df_with_interpolated = df_with_interpolated.drop("row_number")

# Drop rows with null values in the new columns
#df_with_interpolated = df_with_interpolated.dropna(subset=["1_day_ahead", "3_days_ahead", "7_days_ahead"])

In [1]:
#df_with_interpolated

NameError: name 'df_with_interpolated' is not defined

In [31]:
#from pyspark.sql import functions as F
#from pyspark.sql.window import Window
#from statsmodels.tsa.arima.model import ARIMA
#from sklearn.model_selection import train_test_split

# Assuming df_with_interpolated is your PySpark DataFrame

# Split data into train and test sets for each forecast horizon
#train_size = 0.8  # 80% of data for training, adjust as needed

# Forecasting 1 day ahead
#train_1_day, test_1_day = df_with_interpolated.randomSplit([train_size, 1-train_size], seed=42)
#train_1_day = train_1_day.select("date", "sentiment_score").orderBy("date")
#test_1_day = test_1_day.select("date", "sentiment_score").orderBy("date")

# Forecasting 3 days ahead
#train_3_days, test_3_days = df_with_interpolated.randomSplit([train_size+3, 1-(train_size+3)], seed=42)
#train_3_days = train_3_days.select("date", "sentiment_score").orderBy("date")
#test_3_days = test_3_days.select("date", "sentiment_score").orderBy("date")


# Forecasting 3 days ahead
#train_3_days, test_3_days = df_with_interpolated.randomSplit([train_size, 1-train_size], seed=42)
#train_3_days = train_3_days.select("date", "sentiment_score").orderBy("date")
#test_3_days = test_3_days.select("date", "sentiment_score").orderBy("date")


# Forecasting 7 days ahead
#train_7_days, test_7_days = df_with_interpolated.randomSplit([train_size+7, 1-(train_size+7)], seed=42)
#train_7_days = train_7_days.select("date", "sentiment_score").orderBy("date")
#test_7_days = test_7_days.select("date", "sentiment_score").orderBy("date")

# Forecasting 7 days ahead
#train_7_days, test_7_days = df_with_interpolated.randomSplit([train_size, 1-train_size], seed=42)
#train_7_days = train_7_days.select("date", "sentiment_score").orderBy("date")
#test_7_days = test_7_days.select("date", "sentiment_score").orderBy("date")

In [ ]:
# Define function for fitting ARIMA model and making forecasts
#def fit_arima(train_df, test_df, order):
#    train_data = train_df.select("sentiment_score").toPandas()
#    test_data = test_df.select("sentiment_score").toPandas()
    
#    model = ARIMA(train_data, order=order)
#    fit_model = model.fit()
#    forecast = fit_model.forecast(steps=len(test_data))[0]
#    return forecast

# Define ARIMA order (p,d,q)
#order = (5, 1, 0)  # Example order, you need to choose based on your data

# Fit ARIMA model and make forecasts for each forecast horizon
#forecast_1_day = fit_arima(train_1_day, test_1_day, order)

#print("Forecasted sentiment scores for the test set (1 day ahead):")
#print(forecast_1_day)

24/05/16 15:08:23 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/16 15:08:23 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/16 15:08:23 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/16 15:08:23 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/16 15:08:24 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/16 15:08:24 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/16 15:08:24 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/16 15:08:24 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/16 15:08:26 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/16 15:08:26 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/16 15:08:26 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/16 15:08:26 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

In [ ]:
#forecast_3_days = fit_arima(train_3_days, test_3_days, order)
#forecast_7_days = fit_arima(train_7_days, test_7_days, order)



print("Forecasted sentiment scores for the test set (3 days ahead):")
#print(forecast_3_days)

print("Forecasted sentiment scores for the test set (7 days ahead):")
#print(forecast_7_days)

In [ ]:
# Stop SparkSession
#spark.stop()